@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
    45deg,
    #f5f7f8,
    #f3f3f3,
    #d0d4ca,
    #b4b4b3,
    #9e9fa5
  );
  background-size: 400% 400%;
  animation: gradient 60s linear infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
